<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key" 
                       checked="@column.Key == 'all'"/>
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>

    <table>
        <tr>
        <thead><td>Title</td><td>Company</td><td>Location</td><td>Job Type</td><td>Core Competency</td></thead>
        </tr>
        @foreach (Dictionary<string, string> job in ViewBag.jobs)
        {
            <tr>
                @foreach (KeyValuePair<string, string> key in job)
                {
                    <td>@key.Value</td>;
                }
            </tr>
        }
        

    </table>

    // TODO #2 - Loop over jobs dictionary and display all job fields 
}